{% extends 'base.html.twig' %}

 {% block header %}
   <header style="" class="{% block header_class %}header{% endblock %} black-bg">
     <div class="header-menu-wrap">
       <a class="header-logo" title="Режано"
          {% if app.request.get('_route') != 'homepage' %}href="{{ path('homepage') }}"{% endif %}></a>
       {% block headerMenu %}
         {{ render(controller('StoreBundle:Menu/MenuItem:headerMenu')) }}
       {% endblock %}
       <div class="header-controls">
         <a href="" class="header-controls__item header-controls__cabinet">
           <span class="header-controls__notice">
             <span class="notice-count">1</span>
           </span>
         </a>
         <a href="{{ url('cart_index') }}" class="header-controls__item header-controls__cart">
           {% if cart.orderItems|length %}
             <span class="header-controls__notice">
               <span class="notice-count">{{ cart.orderItems|length }}</span>
             </span>
           {% endif %}
         </a>
       </div>
     </div>
   </header>
 {% endblock header %}

{% block main %}
  <div class="error-page error-page_403">
    <div class="container">
      <div class="error-page__image">
        <img src="{{ asset('/images/403.png') }}" alt="">
      </div>
      <div class="error-page__message">
        <p class="error-page__text">
          Отсутствует право доступа. Попробуйте снова <a href="{{ url('fos_user_security_login') }}" class="error-page__link">войти в личный кабинет</a>, либо перейдите на страницу с <a href="{{ url('catalog_index') }}" class="error-page__link">сыром</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
