{% extends "base.html.twig" %}

{% block metas %}
    <title>{{ specialOffers.title }} &mdash; Акции Интернет-магазина Режано</title>
    <meta name="description" content="{{ specialOffers.announce }}">
{% endblock %}

{% block body %}

    <section class="gkContentTopBorder ">
        <section id="gkBreadcrumb">
            <div class="breadcrumbs">
                <ul>
                    <li class="pathway"><a href="{{ path('homepage') }}">Главная</a></li>
                    <li class="pathway separator">/</li>
                    <li class="pathway"><a href="{{ path('special_offers_index') }}">Акции</a></li>
                </ul>
            </div>
        </section>
    </section>

    <section id="gkContent">
        <article class="text-article">
            <h1>{{ specialOffers.title }}</h1>
            <div class="article-properties">
                <span class="article-date"> Акция действительна до: {{ specialOffers.dateEnd|date('d.m.Y') }}</span>
            </div>
            {%  if image_exists(specialOffers) %}
                <a href="{{ path('special_offers_show', { 'slug': specialOffers.slug }) }}"
                   class="nspImageWrapper tleft fleft"
                   style="margin:6px 14px 0 0;" rel="nofollow"><img
                            class="nspImage tleft fleft"
                            src="{{ image_url(specialOffers) }}"
                            alt="" style="width:250px;height:250px;"></a>
            {% endif %}
            <div>
                {{ specialOffers.text|raw }}
            </div>
        </article>
        <div class="text-article-bottom">
            <a href="{{ path('special_offers_index') }}">&larr; К списку акций</a>
        </div>
    </section>
{% endblock %}