<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  {% block metas %}
    <title>{{ metaTitle() }}</title>
    <meta name="title" content="{{ metaTitle() }}"/>
    <meta name="keywords" content="{{ metaKeywords() }}">
    <meta name="description" content="{{ metaDescription() }}">
  {% endblock %}

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/js/vendor/slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('/js/vendor/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
  {% endblock %}

  {% block head_javascripts %}
    <script type="text/javascript">urlPrefix = '{{ app.request.getBaseURL() }}';</script>
    <script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/jquery.daterange/jquery.daterange.js') }}"></script>

    {% include '@ContentHotspot/Asset/content_hotspot.html.twig' with {'jquery': false, 'tinymce': true} %}
    {% if app.user %}
      {{ app.user|client_model('user') }}
      {{ app.user.favoriteProductList.products|client_model_collection('product', 'FavoriteProducts') }}
    {% endif %}
    {{ cart|client_model('cart') }}
  {% endblock %}

</head>
<body>
{% block body %}
  <div class="wrapper">
    {% if app.user is not null %}
      {% include "@Store/Common/admin_control_panel.html.twig" %}
    {% endif %}
      {# не заворачивает в header при наследовании #}
    <header style="">
      {% block header %}
        <a class="header-logo" title="Режано"
           {% if app.request.get('_route') != 'homepage' %}href="{{ path('homepage') }}"{% endif %}></a>
           {{ render(controller('StoreBundle:Menu/MenuItem:headerMenu')) }}
{#            <div class="header-menu">
                <a href="#" class="header-menu__item">О нас</a>
                <a href="#" class="header-menu__item">Магазин</a>
                <a href="#" class="header-menu__item">Подарки</a>
                <a href="#" class="header-menu__item">Экскурсии</a>
                <a href="#" class="header-menu__item">Оптом</a>
                <a href="#" class="header-menu__item">Контакты</a>
            </div>#}

            <div class="header-controls">
                <a href="" class="header-controls__item header-controls__cabinet">
        <span class="header-controls__notice">
          <span class="notice-count">1</span>
        </span>
                </a>
            <a href="{{ url('cart_index') }}" class="header-controls__item header-controls__cart">
                {% if cart.orderItems|length %}
                <span class="header-controls__notice">
                  <span class="notice-count">{{ cart.orderItems|length }}</span>
                </span>
                {% endif %}
                </a>
            </div>
          {#<a class="header-panel__icon header-panel__sign" href="{{ path('fos_user_profile_show') }}">#}
            {#<span class="user-icon"></span>{% if app.user.fio %}{{ app.user.fio }}{% else %}{{ app.user.email }}{% endif %}#}
          {#</a>#}
          {#<a href="{{ path('favorites') }}" class="header-panel__icon header-panel__favorites"><span#}
                    {#class="star-icon"></span>{{ app.user.favoriteProductList.products|length }}</a>#}
          {#<a href="{{ path('fos_user_security_logout') }}" class="header-panel__logout"><span#}
                    {#class="logout-icon"></span>Выйти</a>#}
        {#{% else %}#}
          {#<a href="{{ path('fos_user_security_login') }}" class="header-panel__icon header-panel__sign">#}
            {#<span class="user-icon"></span>Войти#}
          {#</a>#}
        {#{% endif %}#}
        {% block menu %}
          {% block headerMenu %}
            {#<div class="header-menu">#}
              {#<div class="container">#}
                {#<div class="header-menu__wrap">#}
                  {#<div class="menu-container">#}

                    {#<button class="open-menu" id="openMenu">#}
                      {#<span>Каталог товаров</span>#}
                      {#<span class="burger-icon"></span>#}
                    {#</button>#}

                    {#{{ render(controller('StoreBundle:Common:catalogMenu')) }}#}
                  {#</div>#}

                  {#<form class="header-menu__input" action="{{ url('catalog_search') }}">#}
                    {#<input type="text" placeholder="Найти в каталоге товаров" name="q" autocomplete="off">#}
                    {#<button class="button-search" type="submit"></button>#}
                  {#</form>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
          {% endblock %}
        {% endblock menu %}
      {% endblock header %}
    </header>

    <main>
      {% block main %}


      {% endblock main %}
    </main>
  </div>
  {#<footer class="footer">#}
    {#{% block footer %}#}
      {#<div class="container container_no-padding">#}
        {#{{ render(controller('StoreBundle:Menu/MenuItem:footerMenu')) }}#}
      {#</div>#}

      {#<div class="container container_no-padding">#}
        {#<div class="footer-aside">#}
          {#<div class="footer-aside__copyright">© ПАО «Газпром нефть», 2018</div>#}
          {#<div class="footer-aside__contacts">#}
            {#<span class="contact-number"><span class="phone">{{ hotspot('footer_phone_number-first', '8 (800) 700-31-52') }}</span><span class="phone">{{ hotspot('footer_phone_number-second', '8 (812) 363-31-52') }}</span></span>#}
            {#<span class="contact-aside">Круглосуточная служба поддержки</span>#}
          {#</div>#}
          {#<a href="{{ path('customer_question') }}" class="footer-aside__question"><span class="mail-icon"></span><span>Задать вопрос</span></a>#}
        {#</div>#}
      {#</div>#}
    {#{% endblock footer %}#}
  {#</footer>#}
    <footer>
        <div class="container">
            <a href="#" class="header-logo"></a>
            <div class="footer-wrap">
                <div class="footer-contacts">
                    <div class="contact-item">+7 (343) 207-76-66
                        <span class="contact-item-separator">/</span>
                        заказ сыров
                    </div>
                    <div class="contact-item">+7 (343) 207-76-66
                        <span class="contact-item-separator">/</span>
                        сотрудничество
                    </div>
                    <div class="contact-item">+7 (343) 207-76-66
                        <span class="contact-item-separator">/</span>
                        экскурсии
                    </div>
                    <div class="contact-item">
                        info@rezhano.ru
                    </div>

                    <div class="footer-social">
                        <a href="" class="footer-social__item footer-social__facebook"></a>
                        <a href="" class="footer-social__item footer-social__vkontakte"></a>
                        <a href="" class="footer-social__item footer-social__instagram"></a>
                    </div>
                </div>

                {{ render(controller('StoreBundle:Menu/MenuItem:footerMenu')) }}

                <div class="footer-maps">
                    <div class="footer-maps__item">
                        Сырная лавка в Екатеринбурге
                        <a href="" class="footer-maps__link">ул. Красноармейская, 68 (с 10:00 до 21:00)</a>
                    </div>

                    <div class="footer-maps__item">
                        Экскурсии и продажа сыра в городе Реж
                        <a href="" class="footer-maps__link">ул. Олега Кошевого, 16</a>
                    </div>

                    <a href="#" class="button">
                        <span>задать вопрос</span>
                    </a>
                </div>

                <div class="footer-aside">
                    <div class="footer-aside__copyright">© 2015–2018 Сыроварня «Режано»</div>

                    <a href="" class="footer-aside__link link_frukt">Дизайн сайта</a>
                    <a href="https://accurateweb.ru" class="footer-aside__link link_accurateweb" target="_blank">Разработка
                        <span>ACCURATEWEB</span></a>
                </div>

            </div>
        </div>
    </footer>
{% endblock body %}

{% block javascripts %}
  {% if app.environment != 'dev' %}
  {{ get_versioned_javascripts()|raw }}
  {% else %}
  <script type="text/javascript">window.require = {waitSeconds: 600};</script>
  <script src="{{ asset('js/vendor/requirejs/require.js') }}" data-main="/js/app/frontend/app.js"></script>
  <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
  {#<script type="text/javascript" src="{{ asset('js/vendor/slick/slick.js') }}"></script>#}
  {% endif %}
  <script>
    $(function () {
      $('#openMenu').on('click', function () {
        $('#expandedMenu').css({'display': 'block'})
      });
      $('#closeMenu').on('click', function () {
        $('#expandedMenu').css({'display': 'none'})
      })
    });
  </script>
{% endblock %}
</body>
</html>