{% extends '@Store/Checkout/step.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ shippingMethods|client_model_collection('shipping.method', 'ShippingMethods', {'shipment': cart.shipments[0]}) }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/vendor/jquery-ui/jquery-ui.min.css') }}">
    {{ parent() }}
{% endblock %}


{% block breadcrumbs %}
    <div class="section-title">
        <div class="breadcrumbs">
            <a href="{{ path('homepage') }}" class="breadcrumbs__item">Главная страница</a>
            <span class="breadcrumbs__divide"></span>
            <a href="{{ path('cart_index') }}" class="breadcrumbs__item">Корзина</a>
            <span class="breadcrumbs__divide"></span>
            <a class="breadcrumbs__item breadcrumbs__item_active">Доставка и сервисы</a>
        </div>
        <span class="section-title__text section-title__text_in-product">Доставка и сервисы</span>
    </div>
{% endblock %}

{% block sidebar %}
<aside class="right">
    <div class="cards-container__payment-info">
        <span class="payment-info__title">К оплате:</span>
        <span class="payment-info__value">{{ cart.total|number_format(0, '', ' ') }},<span class="payment-info__value_fraction">{{ "%02d"|format((cart.total-cart.total|round(0))*100) }}</span> ₽</span>
        <div class="value-details__wrap">
            <div class="value-details value-details_product">
                <span class="card-icon card-icon__light-blue"></span>
                Товары — {{ cart.total|number_format(0, ',', ' ') }} ₽
            </div>
            <div class="value-details value-details_delivery">
                <span class="delivery-icon delivery-icon__light-blue"></span>
                <span class="delivery-message">Доставка — уточните у менеджера</span>
            </div>
        </div>
    </div>
    <label class="formSubmit" for="formSubmit"><a class="button"><span>Перейти к оплате</span></a></label>
</aside>
{% endblock %}

{% block form %}
    <div class="cards-container cards-container__delivery-services" id="deliveryTabs">
    <ul>
        <li>
            <a href="#typePickup">
                <span class="delivery-services__name">Самовывоз</span>
            </a>
        </li>
        <li>
            <a href="#typeDelivery">
                <span class="delivery-services__name">Доставка</span>
            </a>
        </li>
    </ul>

        {% include '@Store/Checkout/delivery/pickup_form.html.twig' %}
        {% include '@Store/Checkout/delivery/courier_form.html.twig' %}

    </div>




    {#{{ form_start(form) }}#}
    {#<div class="cards-container cards-container__delivery-services" id="deliveryTabs">#}
        {#{{ form_errors(form.shippingMethodId) }}#}
        {#<ul>#}
            {#{{ form_errors(form.shippingMethodId) }}#}
            {#{% for choice in form.shippingMethodId.vars.choices %}#}
                {#<li>#}
                    {#<input name="delivery_step[shippingMethodId]" required="required" id="shippingMethodId_{{ choice.value }}" type="radio" checked value="{{ choice.value }}">#}
                    {#<label for="shippingMethodId_{{ choice.value }}"><a href="#shippingMethodId_{{ choice.value }}tab">{{ choice.label }}</a></label>#}
                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}
        {#{% do form.shippingMethodId.setRendered %}#}


        {#<div class="delivery-type-delivery" id="shippingMethodId_eac20e0f-056a-4c10-9f43-7bee5c47167atab">#}
            {#<div class="cards-container__wrap" id="shippingAddress">#}
                {#{{ form_errors(form.shippingAddress) }}#}
                {#<div class="delivery-container__item">#}
                    {#<div class="delivery-container__header">#}
                        {#<span>Адрес доставки*</span>#}
                    {#</div>#}
                    {#<div class="delivery-container__item-info">#}
                        {#{{ form_widget(form.shippingAddress, {'attr':{'class':'input-text_biggest'}}) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#{% do form.shippingAddress.setRendered %}#}
        {#<div class="delivery-type-pickup" id="shippingMethodId_8dc7ee8f-18f0-40af-964f-d10c3ab091a3tab">#}
            {#<div class="cards-container__wrap">#}
                {#<div class="delivery-container__item">#}
                    {#<div class="delivery-container__pickup-info">#}
                        {#<span class="pickup-info__date">Вы можете забрать заказ#}
                            {#<br><strong>с 3 августа 2018</strong>#}
                        {#</span>#}
                        {#<span class="pickup-info__address">#}
                            {#{{ hotspot('pickupAddress', '123022, Россия, Ноябрьск, <br><a href="#">ул. 1905 года, дом 7, стр. 1 </a>') }}#}
                        {#</span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="cards-container__wrap">#}
                {#<div class="delivery-container__item">#}
                    {#{{ form_errors(form.shippingDate) }}#}
                    {#<div class="delivery-container__header">#}
                        {#<span>Когда удобно<br>забрать</span>#}
                    {#</div>#}
                    {#<div class="delivery-container__item-info">#}
                        {#<div class="custom-datepicker">#}
                            {#{{ form_widget(form.shippingDate, {'attr':{'class':'input-text_small'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#{% do form.shippingDate.setRendered %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="cards-container cards-container_no-shadow">#}
        {#<div class="cards-container__wrap">#}
            {#{{ form_errors(form.customer_comment) }}#}
            {#<div class="delivery-container__header">#}
                {#<span>Комментарии</span>#}
            {#</div>#}
            {#<div class="delivery-container__item-info">#}
                {#<div class="custom-textarea">#}
                    {#{{ form_widget(form.customer_comment, {'attr':{'placeholder':'Указать желаемые услуги и сервисы', 'rows':30, 'cols':10}}) }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#{% do form.customer_comment.setRendered %}#}

    {#<input type="submit" style="display: none;" id="formSubmit" />#}
    {#{{ form_end(form) }}#}
{% endblock %}