{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ stores|client_model_collection('store', 'Stores') }}
{% endblock %}

{% block header %}
  <header class="header-contacts">
    <div class="header__fixed ">
      <div class="header-menu-wrap header-menu-wrap">
        <a class="header-logo" title="Режано"
           {% if app.request.get('_route') != 'homepage' %}href="{{ path('homepage') }}"{% endif %}></a>
        {% block headerMenu %}
          {{ render(controller('StoreBundle:Menu/MenuItem:headerMenu')) }}
        {% endblock %}

        <div class="header-controls">
          <a href="" class="header-controls__item header-controls__cabinet">
        <span class="header-controls__notice">
          <span class="notice-count">1</span>
        </span>
          </a>
          <a href="{{ url('cart_index') }}" class="header-controls__item header-controls__cart">
            {% if cart.orderItems|length %}
              <span class="header-controls__notice">
            <span class="notice-count">{{ cart.orderItems|length }}</span>
          </span>
            {% endif %}
          </a>
        </div>
      </div>
    </div>

    <div class="header-catalog__wrap">
    </div>
  </header>
{% endblock header %}

{% block main %}
  {% set limit = (stores|length/2)|round(0, 'ceil') %}
  {% set leftStores = stores[:limit] %}
  {% set rightStores = stores[limit:] %}
  <section class="contacts-section">
    <div class="container container_no-padding">
      <h1>Контакты</h1>

      <div class="contacts-section__wrap">
        <div class="contacts-section__col-left">
          {% if leftPhone %}
          <div class="col-item">
            <span class="col-title">{{ leftPhone.name }}</span>
            <span class="col-text">{{ leftPhone.phone }}</span>
          </div>
          {% endif %}

          {% for store in leftStores %}
            <div class="col-item">
              <span class="col-title">{{ store.name }}</span>
              <span class="col-text">{{ store.address }}</span>

              <a href="#" data-address="{{ store.fullAddress }}" class="maps-link">
                <span class="maps-link__map">
                  <img src="{% if image_exists(store) %}{{ image_thumbnail_url(store, null, 'contact') }}{% else %}{{ asset('images/krasno-map.png') }}{% endif %}"
                       alt="">
                </span>
                <span class="maps-link__link">открыть на карте</span>
              </a>

            </div>
          {% endfor %}

        {% if setting('facebook_link') or setting('vk_link') or setting('instagram_link') %}
          <div class="col-item">
            <span class="col-title">Тут мы публикуем много всего интересного</span>
            <div class="contacts-social">
                {% if setting('facebook_link') %}<a href="{{ setting('facebook_link') }}" target="_blank" class="footer-social__item footer-social__facebook"></a>{% endif %}
                {% if setting('vk_link') %}<a href="{{ setting('vk_link') }}" target="_blank" class="footer-social__item footer-social__vkontakte"></a>{% endif %}
                {% if setting('instagram_link') %}<a href="{{ setting('instagram_link') }}" target="_blank" class="footer-social__item footer-social__instagram"></a>{% endif %}
            </div>
          </div>
        {% endif %}

        </div>
        <div class="contacts-section__col-right">
            {% if rightPhone %}
              <div class="col-item">
                <span class="col-title">{{ rightPhone.name }}</span>
                <span class="col-text">{{ rightPhone.phone }}</span>
              </div>
            {% endif %}

          {% for store in rightStores %}
            <div class="col-item">
              <span class="col-title">{{ store.name }}</span>
              <span class="col-text">{{ store.address }}</span>

              <a href="#" class="maps-link" data-address="{{ store.fullAddress }}">
                <span class="maps-link__map">
                  <img src="{% if image_exists(store) %}{{ image_thumbnail_url(store, null, 'contact') }}{% else %}{{ asset('images/krasno-map.png') }}{% endif %}"
                       alt="">
                </span>
                <span class="maps-link__link">открыть на карте</span>
              </a>

            </div>
          {% endfor %}

          {% if setting('contact_email') %}
          <div class="col-item">
            <span class="col-title">Наша почта</span>
            <a href="mail:{{ setting('contact_email') }}" class="col-text col-link">{{ setting('contact_email') }}</a>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  <section class="section-write">
    <div class="container container_no-padding">
      <div class="layer-questions">
      <h1>Написать нам</h1>
        <form action="">
          <div class="question-wrapper">
            <div class="question-wrapper__row">
              <div class="step-item input-text__name">
                <input class="input-text " type="text" placeholder="ФИО">
                <i class="error-icon">
                  <span class="error-icon__message" id="name-errors"><div>Представьтесь, пожалуйста</div></span>
                </i>
              </div>
              <div class="step-item input-text__email">
                <input class="input-text " type="text" placeholder="Телефон или эл.почта">
                <i class="error-icon">
                  <span class="error-icon__message" id="name-errors"><div>Представьтесь, пожалуйста</div></span>
                </i>
              </div>
            </div>
            <div class="step-item input-text__question">
              <input class="input-text " type="text" placeholder="Расскажите, что вас интересует">
              <i class="error-icon">
                <span class="error-icon__message" id="name-errors">
                  <div>Представьтесь, пожалуйста</div>
                </span>
              </i>
            </div>
          </div>
          <div class="step-item step-item-checkbox">
            <div class="custom-checkbox font-alegreya" name="tos">
              <label>
                <input type="checkbox" id="" name="" required="required" class="checkbox" data-validate="" data-description="" data-describedby="" value="">
                <span class="custom-checkbox__checkbox"></span>
                <span>Я согласен с условиями <a href="">передачи информации</a></span>
              </label>
            </div>
            <i class="error-icon">
              <span class="error-icon__message"></span>
            </i>
          </div>
          <div class="step-item" style="display: block">
            <a href="" class="button button_black"><span>отправить</span></a>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  <footer class="low">
    <div class="container">
      <div class="footer-aside">
        <div class="footer-aside__copyright">
          © 2015–2018 Сыроварня «Режано»
        </div>
        <a href="http://fruktdesign.com/" class="footer-aside__link link_frukt" target="_blank">Дизайн сайта</a>
        <a href="https://accurateweb.ru" class="footer-aside__link link_accurateweb" target="_blank">Разработка
          <span>ACCURATEWEB</span></a>
      </div>
    </div>
  </footer>
{% endblock footer %}