{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'form/profile.html.twig' %}
<div class="profile-edit profile-edit__password">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="confirm-profile">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        <a class="dashed" href="{{ path('profile') }}">Отменить</a>
    </div>
{{ form_end(form) }}
</div>