<span class="custom-radio__radio"></span>
{% if value.uid == constant('AccurateCommerce\\Shipping\\Method\\Store\\ShippingMethodStorePickup::UID') %}
    <span>{{ value.name }} c {{ value.showAddress }}</span>
{% else %}
    <span>{{ value.name }}</span>
{% endif %}

{#
{% if value.cost %}
<span class="delivery-info">
    {{ value.cost }}
    {% if value.help %}
    <span class="delivery-info__message"> {{ value.cost }} </span>
    {% endif %}
</span>
{% endif %}#}
