<div class="product-item{% if options.narrow|default(false) %} product-item_narrow{% endif %}">

    {#
        Этот блок определяет цвет подложки у товара
        Блок для демонстрации
     #}
    {#{% if product.background == constant('StoreBundle\\Entity\\Store\\Catalog\\Product\\Product::ORANGE_BACKGROUND') %}#}
        {#у товара оранжевая подложка#}
    {#{% elseif product.background == constant('StoreBundle\\Entity\\Store\\Catalog\\Product\\Product::BLACK_BACKGROUND') %}#}
        {#у товара чёрная подложка#}
    {#{% else %}#}
        {#у товара нет подложки#}
    {#{% endif %}#}
    <div class="product-link-wrap">
        <a class="product-item__image
        {#{% if product.background == constant('StoreBundle\\Entity\\Store\\Catalog\\Product\\Product::ORANGE_BACKGROUND') %}#}
             {#product-item__image_yellow#}
        {#{% endif %}" #}
       href="{{ path('product', { 'slug': product.slug }) }}">
        <img src="{% if product.thumbnailUrl is not empty %}{{ product.thumbnailUrl('catalog_prev') }}{% else %}{{ asset('/images/no_photo.png')}}{% endif %}" title="{{ product.name|e('html_attr') }}"/>

            {% if product.novice %}
               <span class="product-item__label label-news"></span>
            {% endif %}
            {% if product.hit %}
               <span class="product-item__label label-action"></span>
            {% endif %}
        </a>
        <a href="{{ path('product', {'slug': product.slug}) }}" class="product-item__name product-page-link" >{{ product.name }}</a>

    </div>
    <span class="product-item__type">{{ product.shortDescription }}</span>
    {#<span class="product-item__type">{{ product.productType }}</span>#}
    {#<span class="product-item__type">мягкий сыр</span>#}
    <div class="product-item__characteristics">
        {% if product.package %}
            <span class="product-item__quantity">{{ product.formattedPackage }} {{ product.units }} / </span>
        {% endif %}
        <span class="product-item__price">{{ product.price|price }}</span>
    </div>
    <a class="addtocart-button button button_black button_add-to-cart button-buy_in-product button_yellow-yellow" data-product-id="{{ product.id }}"><span>В корзину</span></a>
    <div class="product-item__controls">
        {#<span class="controls-title">количество</span>#}
        {#<span class="controls-item controls-item__increase"></span>#}
        {#<input type="text" class="custom-input" value="{{ product.minCount }}">#}
        {#<span class="controls-item controls-item__reduce"></span>#}
    </div>
</div>

{#<div class="spacer-tip" title="">#}
    {#{% if product.hasClubPrice %}#}
        {#<div class="product_badge">#}
            {#<div class="club-price__icon">#}
                {#<span>Клубная<br>цена</span>#}
                {#<img src="/images/club_price_icon.png" alt="">#}
            {#</div>#}
        {#</div>#}
    {#{% endif %}#}
  {#<a title="{{ product.name }} купить" rel="vm-additional-images nofollow" href="{{ path('product', { 'slug': product.slug }) }}">#}
    {#{% include "@Store/Catalog/Product/product_badges.html.twig" %}#}
  {#</a>#}
  {#<div class="product-image-container">#}
    {#<a title="{{ product.name }} купить" rel="vm-additional-images nofollow" href="{{ path('product', { 'slug': product.slug }) }}"></a>#}
    {#<a rel="vm-additional-images nofollow" href="{{ path('product', { 'slug': product.slug }) }}">#}
      {#{% if image %}#}
        {#<img src="{{ image_url(image) }}" alt="Фотография товара {{ product.name }}" class="browseProductImage">#}
      {#{% endif %}#}
    {#</a>#}
  {#</div>#}
  {#<div>#}
    {#<div class="catProductTitle"><a href="{{ path('product', { 'slug': product.slug }) }}">{{ product.name }}</a></div>#}
    {#<div class="catProductPrice">#}
      {#{% if not product.isPurchasable %}#}
        {#Товар снят с производства#}
      {#{% else %}#}
        {#<div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">{{ product.price|price }}</span></div>#}
      {#{% endif %}#}
    {#</div>#}
    {#{% if product.isPurchasable %}#}
      {#{% if product.preorder %}#}
        {#<div class="preorder-wrap">#}
          {#<div class="preorder button" data-product-slug="{{ product.slug }}">Предзаказ</div>#}
        {#</div>#}
      {#{% else %}#}
        {#<form class="default-formButton">#}
          {#<button href="#" class="addtocart-button button button-grey"#}
                  {#rel="nofollow" title="{{ product.name }} купить" data-product-id="{{ product.id }}">Добавить в корзину</button>#}
        {#</form>#}
        {#<div class="buy-one button" data-product-slug="{{ product.slug }}">Купить в один клик</div>#}
      {#{% endif %}#}
    {#{% endif %}#}
  {#</div>#}
{#</div>#}
