{% extends "base.html.twig" %}

{% block metas %}
  {{ parent() }}
  {#<title>{{ product.name }}, купить в интернет-магазине Store</title>#}
  {#<meta name="title" content="{{ product.name }}, купить в Интернет-магазине Store"/>#}
  {#<meta name="description"#}
  {#content="{{ product.name }} по низким ценам в Интернет-магазине Store. {{ product.name }}, купить с доставкой по РФ">#}
  {#<meta name="keywords"#}
  {#content="{{ product.name }}, купить цены стоимость продажа Store">#}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('js/vendor/jquery-ui-1.12.1.custom/jquery-ui.css') }}"/>
  <link rel="stylesheet" href="{{ asset('js/vendor/slick/slick.css') }}"/>
  <link rel="stylesheet" href="{{ asset('js/vendor/slick/slick-theme.css') }}"/>
  <link rel="stylesheet" href="{{ asset('js/vendor/prettyphoto/css/prettyPhoto.css') }}"/>

  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/vendor/prettyphoto/js/jquery.prettyPhoto.js') }}"></script>

  {% include "@Store/Catalog/Product/product_page_google_ecommerce.html.twig" %}

  {{ product|client_model('product') }}
{% endblock %}

{% block main %}

  <section>
    <div class="container">

      <div class="section-title">
        <div class="breadcrumbs">
          <a href="{{ path('homepage') }}" class="breadcrumbs__item">Главная страница</a>
          <span class="breadcrumbs__divide"></span>
          <a href="{{ path('taxon', {'slug': taxon.slug}) }}" class="breadcrumbs__item">{{ taxon.name }}</a>
          <span class="breadcrumbs__divide"></span>
          <a class="breadcrumbs__item breadcrumbs__item_active">{{ product.name }}</a>
        </div>
        <span class="section-title__text">{{ product.name }}</span>
      </div>

      <div class="product-container">
        <div class="center_no-left">
          <div class="section-wrap">

            <div id="product-image-gallery"
                 class="product-image__gallery {% if image_url(product.mainImage) is empty %}product-image__gallery_no-image{% endif %}">
              <div class="main-image">

                <a href="{{ image_url(product.mainImage) }}" class="gallery-image" title="{{ product.name }}"
                   itemprop="image" rel="vm-additional-images[]" title="{{ product.name }}">
                  <img src="{{ image_url(product.mainImage) }}" alt="Фотография товара {{ product.name }}">
                </a>

              </div>
              <div class="product-image__gallery__additional">
                {% for image in product.images %}
                  <a href="{{ image_url(image) }}" rel="vm-additional-images[]"
                     class="product-image gallery-image gallery-image__additional gallery-image__additional_active"
                     title="{{ product.name }}">
                    <img src="{{ image_url(image) }}" alt="Фотография товара {{ product.name }}">
                  </a>
                {% endfor %}
              </div>
            </div>

            <div class="product-container__info-wrap">
              <div class="product-container__info">
                <div class="product-container__price">{{ product|productPrice }}</div>
                <div class="product-container__count">
                  <div class="quantity-widget quantity-wrap">
                    <a class="quantity-control quantity-control__down"></a>
                    <input class="quantity-control__input" type="text" value="1">
                    <a class="quantity-control quantity-control__up"></a>
                  </div>
                  <button class="button-buy_in-product" data-product-id="{{ product.id }}"></button>
                  <span class="product-container__quantity">всего {{ product.availableStock }} шт.</span>
                </div>
              </div>

              <div class="product-brief-characteristics">
                <div class="product-brief-characteristics_col-left">
                  {#<span class="product-brief-characteristics__location">#}
                    {#{% if stockManager.getAvailableWarehouse(product) %}#}
                      {#{{ stockManager.getAvailableWarehouse(product).city.name }}#}
                    {#{% endif %}#}
                  {#</span>#}
                  {% if product.length %}
                    <span class="product-brief-characteristics__item">Длина<span
                              class="product-brief-characteristics__item_count">{{ product.length }} м</span></span>
                  {% endif %}
                  {% if product.width %}
                    <span class="product-brief-characteristics__item">Ширина<span
                              class="product-brief-characteristics__item_count">{{ product.width }} м</span></span>
                  {% endif %}
                </div>
                <div class="product-brief-characteristics_col-right">
                  <div class="product-brief-characteristics__article">Артикул –&nbsp;{{ product.sku }}</div>
                  {% if product.weight %}
                    <span class="product-brief-characteristics__item">Вес<span
                              class="product-brief-characteristics__item_count">{{ product.weight }} кг</span></span>
                  {% endif %}
                  {% if product.volume %}
                    <span class="product-brief-characteristics__item">Объем<span
                              class="product-brief-characteristics__item_count">{{ product.volume }}
                        м<sup>3</sup></span></span>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>

          <aside class="right">

          </aside>
        </div>

        <div class="product-description" id="product-description-tabs">
          <ul class="nav-tabs__wrap">
            <li class="nav-tabs__item">
              <a href="#product-description-tab" class="button nav-tabs-description nav-characteristics"><span>Характеристики</span></a>
            </li>
            <li class="nav-tabs__item">
              <a href="#delivery-calculator-tab" class="button nav-tabs-description nav-delivery"><span>Калькулятор доставки</span></a>
            </li>
          </ul>

          <div id="product-description-tab" class="product-description__info">
            {% for productAttributeValueChunk in productAttributeValueChunks %}
              <div class="product-description__col">
                {% for productAttributeValue in productAttributeValueChunk %}
                  <div class="product-description__col-item">
                    <div class="col-item__name">{{ productAttributeValue.productAttribute.name }}</div>
                    <div class="col-item__value">{{ productAttributeValue.value }}</div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          <div id="delivery-calculator-tab" class="product-description__calc">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}