{% extends "base.html.twig" %}

{% block metas %}
  {{ parent() }}
  {#<title>{{ product.name }}, купить в интернет-магазине Store</title>#}
  {#<meta name="title" content="{{ product.name }}, купить в Интернет-магазине Store"/>#}
  {#<meta name="description"#}
  {#content="{{ product.name }} по низким ценам в Интернет-магазине Store. {{ product.name }}, купить с доставкой по РФ">#}
  {#<meta name="keywords"#}
  {#content="{{ product.name }}, купить цены стоимость продажа Store">#}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('js/vendor/jquery-ui-1.12.1.custom/jquery-ui.css') }}"/>
  <link rel="stylesheet" href="{{ asset('js/vendor/slick/slick.css') }}"/>
  <link rel="stylesheet" href="{{ asset('js/vendor/prettyphoto/css/prettyPhoto.css') }}"/>

  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/vendor/prettyphoto/js/jquery.prettyPhoto.js') }}"></script>

  {% include "@Store/Catalog/Product/product_page_google_ecommerce.html.twig" %}

  {{ product|client_model('product') }}
{% endblock %}

{% block main %}

  <section class="section-in-product">
    <div class="container">

      {#<div class="section-title">#}
        {#<div class="breadcrumbs">#}
          {#<a href="{{ path('homepage') }}" class="breadcrumbs__item">Главная страница</a>#}
          {#<span class="breadcrumbs__divide"></span>#}
          {#<a href="{{ path('taxon', {'slug': taxon.slug}) }}" class="breadcrumbs__item">{{ taxon.name }}</a>#}
          {#<span class="breadcrumbs__divide"></span>#}
          {#<a class="breadcrumbs__item breadcrumbs__item_active">{{ product.name }}</a>#}
        {#</div>#}
        {#<span class="section-title__text">{{ product.name }}</span>#}
      {#</div>#}

      <div class="layer__container ">
        <div class="layer__images product-image__gallery" id="product-image-gallery" >
          <div class="main-image">
            {% for image in product.images %}
              <a href="{{ image_url(image) }}" class="show-full-image" itemprop="image" data-number="" rel="vm-additional-images[]">
                <img src="{{ image_url(image) }}" alt="">
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="layer__text">
          <h2 class="layer__title">{{ product.name }}</h2>
          {#<div class="layer__text-wrap scroll-pane">#}
          <div class="layer__text-wrap">
            {% if product.productAttributeValuesGrouped | length > 0 %}
                {% for attribure_name, attribute in product.productAttributeValuesGrouped %}
                  <div class="layer__text-item">
                  <div class="layer__text-title">{{ attribure_name }}:</div>
                  <div class="layer__text-text">
                  {#{% spaceless %}#}
                    {% for val in attribute %}
                    {#<div class="layer__text-text">это готовое самостоятельное блюдо. Можно посыпать солью, чёрным перцем, сбрызнуть оливковым маслом, и с помощью ломтика хлеба или крекера собирать жидкую начинку. А можно так же, как и Моцареллу —со свежими помидорами и базиликом, или овощами, пожаренными на гриле.</div>#}
                    {{ val }}{% if loop.last == false %}, {% endif%}
                    {% endfor %}
                  {#{% endspaceless %}#}
                  </div>
                  </div>
                {% endfor %}

            {% endif %}

            {% if product.description %}
            <div class="layer__text-item">
              <div class="layer__text-title">С чем едят:</div>
              <div class="layer__text-text">{{ product.description | raw }}</div>
            </div>
            {% endif %}
          </div>
          <div class="product-item__characteristics">
              {% if product.package %}
                <span class="product-item__quantity">{{ product.formattedPackage }} {{ product.units }} / </span>
              {% endif %}
              <span class="product-item__price">{{ product.price | price }}</span>
            </div>
          <div class="product-item__info">
            {#<% if (isPurchasable) { %>#}
              <a class="button button_black button_add-to-cart button-buy_in-product button_yellow-yellow" data-product-id="{{ product.id }}">
                  <span>В корзину</span>
                </a>
              <span class="product-item__controls-title">количество</span>
            <div class="product-item__controls quantity-widget quantity-wrap">
              <a class="controls-item controls-item__increase quantity-control quantity-control__down"></a>
                <input class="custom-input quantity-control__input" value="{{ product.minCount }}" type="text">
              <a class="controls-item controls-item__reduce quantity-control quantity-control__up"></a>
            </div>
            {#<% } %>#}
            </div>
          </div>
      </div>

      {#<div class="product-container">#}
        {#<div class="center_no-left">#}
          {#<div class="section-wrap">#}

            {#<div id="product-image-gallery"#}
                 {#class="product-image__gallery {% if image_url(product.mainImage) is empty %}product-image__gallery_no-image{% endif %}">#}
              {#<div class="main-image">#}
                {#<a href="{{ image_url(product.mainImage) }}" class="gallery-image" title="{{ product.name }}"#}
                   {#itemprop="image" rel="vm-additional-images[]">#}
                  {#<img src="{{ image_url(product.mainImage) }}" alt="Фотография товара {{ product.name }}">#}
                {#</a>#}
              {#</div>#}
              {#<div class="product-image__gallery__additional">#}
                {#{% for image in product.images %}#}
                  {#<a href="{{ image_url(image) }}" rel="vm-additional-images[]"#}
                     {#class="product-image gallery-image gallery-image__additional gallery-image__additional_active"#}
                     {#title="{{ product.name }}">#}
                    {#<img src="{{ image_url(image) }}" alt="Фотография товара {{ product.name }}">#}
                  {#</a>#}
                {#{% endfor %}#}
              {#</div>#}
            {#</div>#}

            {#<div class="product-container__info-wrap">#}
              {#<div class="product-container__info">#}
                {#<div class="product-container__price">{{ product|productPrice }}</div>#}
                {#<div class="product-container__count">#}
                  {#<div class="quantity-widget quantity-wrap">#}
                    {#<a class="quantity-control quantity-control__down"></a>#}
                    {#<input class="quantity-control__input" type="text" value="1">#}
                    {#<a class="quantity-control quantity-control__up"></a>#}
                  {#</div>#}
                  {#<button class="button-buy_in-product" data-product-id="{{ product.id }}"></button>#}
                  {#<span class="product-container__quantity">всего {{ product.availableStock }} шт.</span>#}
                {#</div>#}
              {#</div>#}

              {#<div class="product-brief-characteristics">#}
                {#<div class="product-brief-characteristics_col-left">#}
                  {#<span class="product-brief-characteristics__location">#}
                    {#{% if stockManager.getAvailableWarehouse(product) %}#}
                      {#{{ stockManager.getAvailableWarehouse(product).city.name }}#}
                    {#{% endif %}#}
                  {#</span>#}
                  {#{% if product.length %}#}
                    {#<span class="product-brief-characteristics__item">Длина<span#}
                              {#class="product-brief-characteristics__item_count">{{ product.length }} м</span></span>#}
                  {#{% endif %}#}
                  {#{% if product.width %}#}
                    {#<span class="product-brief-characteristics__item">Ширина<span#}
                              {#class="product-brief-characteristics__item_count">{{ product.width }} м</span></span>#}
                  {#{% endif %}#}
                {#</div>#}
                {#<div class="product-brief-characteristics_col-right">#}
                  {#<div class="product-brief-characteristics__article">Артикул –&nbsp;{{ product.sku }}</div>#}
                  {#{% if product.weight %}#}
                    {#<span class="product-brief-characteristics__item">Вес<span#}
                              {#class="product-brief-characteristics__item_count">{{ product.weight }} кг</span></span>#}
                  {#{% endif %}#}
                  {#{% if product.volume %}#}
                    {#<span class="product-brief-characteristics__item">Объем<span#}
                              {#class="product-brief-characteristics__item_count">{{ product.volume }}#}
                        {#м<sup>3</sup></span></span>#}
                  {#{% endif %}#}
                {#</div>#}
              {#</div>#}
            {#</div>#}

          {#</div>#}

          {#<aside class="right">#}

          {#</aside>#}
        {#</div>#}

        {#<div class="product-description" id="product-description-tabs">#}
          {#<ul class="nav-tabs__wrap">#}
            {#<li class="nav-tabs__item">#}
              {#<a href="#product-description-tab" class="button nav-tabs-description nav-characteristics"><span>Характеристики</span></a>#}
            {#</li>#}
            {#<li class="nav-tabs__item">#}
              {#<a href="#delivery-calculator-tab" class="button nav-tabs-description nav-delivery"><span>Калькулятор доставки</span></a>#}
            {#</li>#}
          {#</ul>#}

          {#<div id="product-description-tab" class="product-description__info">#}
            {#{% for productAttributeValueChunk in productAttributeValueChunks %}#}
              {#<div class="product-description__col">#}
                {#{% for productAttributeValue in productAttributeValueChunk %}#}
                  {#<div class="product-description__col-item">#}
                    {#<div class="col-item__name">{{ productAttributeValue.productAttribute.name }}</div>#}
                    {#<div class="col-item__value">{{ productAttributeValue.value }}</div>#}
                  {#</div>#}
                {#{% endfor %}#}
              {#</div>#}
            {#{% endfor %}#}
          {#</div>#}
          {#<div id="delivery-calculator-tab" class="product-description__calc">#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}

    {#{% if product.relatedProducts|length > 0 %}#}
      {#<div>#}
        {#<h1>{{ hotspot_inline('related-products', 'Великолпное дополнение к сыру') }}</h1>#}
        {#{% for rProduct in product.relatedProducts %}#}
            {#{% include '@Store/Catalog/Product/product_card.html.twig' with { 'product': rProduct } %}#}
        {#{% endfor %}#}
      {#</div>#}
    {#{% endif %}#}
  </section>

  {#<section class="section-product-addition">#}
    {#<div class="container">#}
      {#<h3>Великолепное дополнение к сыру</h3>#}
      {#<div class="product-list">#}
        {#<div class="product-item">#}
          {#<a href="" class="product-item__image product-page-link">#}
            {#<img src="/images/TEST_DELETE.png" alt="Нет фотографии">#}
          {#</a>#}
          {#<a href="" class="product-item__name  product-page-link">Мед</a>#}
          {#<div class="product-item__characteristics">#}
            {#<span class="product-item__quantity">300 г  / </span>#}
            {#<span class="product-item__price">0&nbsp;₽</span>#}
          {#</div>#}
          {#<a class="addtocart-button button button_black button_add-to-cart">#}
            {#<span>В корзину</span>#}
          {#</a>#}
        {#</div>#}

        {#<div class="product-item">#}
          {#<a href="" class="product-item__image product-page-link">#}
            {#<img src="/images/TEST_DELETE.png" alt="Нет фотографии">#}
          {#</a>#}
          {#<a href="" class="product-item__name  product-page-link">Мед</a>#}
          {#<div class="product-item__characteristics">#}
            {#<span class="product-item__quantity">300 г  / </span>#}
            {#<span class="product-item__price">0&nbsp;₽</span>#}
          {#</div>#}
          {#<a class="addtocart-button button button_black button_add-to-cart">#}
            {#<span>В корзину</span>#}
          {#</a>#}
        {#</div>#}

        {#<div class="product-item">#}
          {#<a href="" class="product-item__image product-page-link">#}
            {#<img src="/images/TEST_DELETE.png" alt="Нет фотографии">#}
          {#</a>#}
          {#<a href="" class="product-item__name  product-page-link">Мед</a>#}
          {#<div class="product-item__characteristics">#}
            {#<span class="product-item__quantity">300 г  / </span>#}
            {#<span class="product-item__price">0&nbsp;₽</span>#}
          {#</div>#}
          {#<a class="addtocart-button button button_black button_add-to-cart">#}
            {#<span>В корзину</span>#}
          {#</a>#}
        {#</div>#}

        {#<div class="product-item">#}
          {#<a href="" class="product-item__image product-page-link">#}
            {#<img src="/images/TEST_DELETE.png" alt="Нет фотографии">#}
          {#</a>#}
          {#<a href="" class="product-item__name  product-page-link">Мед</a>#}
          {#<div class="product-item__characteristics">#}
            {#<span class="product-item__quantity">300 г  / </span>#}
            {#<span class="product-item__price">0&nbsp;₽</span>#}
          {#</div>#}
          {#<a class="addtocart-button button button_black button_add-to-cart">#}
            {#<span>В корзину</span>#}
          {#</a>#}
        {#</div>#}

        {#<div class="product-item">#}
          {#<a href="" class="product-item__image product-page-link">#}
            {#<img src="/images/TEST_DELETE.png" alt="Нет фотографии">#}
          {#</a>#}
          {#<a href="" class="product-item__name  product-page-link">Мед</a>#}
          {#<div class="product-item__characteristics">#}
            {#<span class="product-item__quantity">300 г  / </span>#}
            {#<span class="product-item__price">0&nbsp;₽</span>#}
          {#</div>#}
          {#<a class="addtocart-button button button_black button_add-to-cart">#}
            {#<span>В корзину</span>#}
          {#</a>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}

  <section class="section-back-to-all">
    <div class="container">
      <div class="section-back-to-all__link">
        <a href="{{ url('catalog_index') }}" ><  <span>назад ко всем сырам</span></a>
      </div>
      <div class="section-back-to-all__image">
        <img  src="{{ asset('images/back-to-all.png') }}">
      </div>
    </div>
  </section>
{% endblock %}