{% form_theme enterpreneurForm 'form/register.html.twig' %}

{{ form_start(enterpreneurForm) }}
<div class="cards-container cards-container__registration cards-container__registration_first">
    <div class="registration-container__wrap">
        <div class="registration-container__title">
            Личные данные
        </div>
        <div class="registration-container__step">
            {{ form_row(enterpreneurForm.lastname, {'inline':true, 'attr':{'class':'input-text_200'}, 'label':'Фамилия'}) }}
            {{ form_row(enterpreneurForm.firstname, {'inline':true, 'attr':{'class':'input-text_200'}, 'label':'Имя'}) }}
            {{ form_row(enterpreneurForm.middlename, {'inline':true, 'attr':{'class':'input-text_200'}, 'label':'Отчество'}) }}
            {{ form_row(enterpreneurForm.phone, {'inline':true, 'attr':{'class':'input-text_200', 'placeholder':'+7 (___) ___ - __ - __'}, 'label':'Номер телефона'}) }}
            {{ form_row(enterpreneurForm.email, {'inline':true, 'attr':{'class':'input-text_290'}, 'label':'Электронная почта'}) }}
            <div class="password-wrap">
                <div class="step-item step-item_inline">
                    <span class="field-description">Пароль*</span>
                    <div class="password-input-wrap">
                        <input id="{{ enterpreneurForm.plainPassword.first.vars.id }}" name="{{ enterpreneurForm.plainPassword.first.vars.full_name }}" type="password" class="input-text_200">
                        <div class="password-input-wrap__toggle" title="Показать пароль"></div>
                    </div>
                    {% if  form_errors(enterpreneurForm.plainPassword.first) %}
                        <div class="error-list">{{ form_errors(enterpreneurForm.plainPassword.first) }}</div>
                    {% endif %}
                </div>
                {% do enterpreneurForm.plainPassword.first.setRendered %}

                <div class="step-item step-item_inline">
                    <span class="field-description">Повтор пароля*</span>
                    <div class="password-input-wrap">
                        <input id="{{ enterpreneurForm.plainPassword.second.vars.id }}" name="{{ enterpreneurForm.plainPassword.second.vars.full_name }}"  type="password" class="input-text_200">
                        <div class="password-input-wrap__toggle" title="Показать пароль"></div>
                    </div>
                    {% if  form_errors(enterpreneurForm.plainPassword.second) %}
                        <div class="error-list">{{ form_errors(enterpreneurForm.plainPassword.second) }}</div>
                    {% endif %}
                </div>
                {% do enterpreneurForm.plainPassword.second.setRendered %}
            </div>
            {{ form_row(enterpreneurForm.city, {'inline':false, 'label':'Город'}) }}
        </div>
    </div>
</div>
<div class="cart-block-aside cart-block-aside_left-alignment">
    <div class="cart-block-aside__wrap">
        <div class="custom-checkbox custom-checkbox_bg-blue">
            <label>
                {{ form_widget(enterpreneurForm.tos, {'attr': {'class':'checkbox'}}) }}
                {#<input type="checkbox" class="checkbox" checked="">#}
                <span class="custom-checkbox__checkbox"></span>
                <span>Я ознакомился и согласен с <a href="">Политикой Компании</a> и <a href="">условиями сотрудничества</a></span>
            </label>
            {% if  form_errors(enterpreneurForm.tos) %}
                <div class="error-list">{{ form_errors(enterpreneurForm.tos) }}</div>
            {% endif %}
        </div>
        <button type="submit" class="button">Зарегистрироваться</button>
        {#<a href="" class="button"><span>Зарегистрироваться</span></a>#}
    </div>
</div>
{{ form_end(enterpreneurForm) }}