{% extends "base.html.twig" %}

{% if not filterForm is defined %}
  {% set filterForm = null %}
{% endif %}

{% block metas %}
  {{ parent() }}
  {% if presentation.pagination is defined and presentation.pagination.page > 1 %}
    <link rel="prev" href="{{ path('taxon', { slug: taxon.slug, page: presentation.pagination.page - 1 }) }}"/>
    <link rel="canonical" href="{{ path('taxon', { slug: taxon.slug }) }}"/>
  {% endif %}
  {% if presentation.pagination is defined and  presentation.pagination.page < presentation.pagination.lastPage %}
    <link rel="next" href="{{ path('taxon', { slug: taxon.slug, page: presentation.pagination.page + 1 }) }}"/>
  {% endif %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('js/vendor/jquery-ui/jquery-ui.min.css') }}" media="all"/>
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

{% endblock %}

{% block header %}
  <header class="header-catalog">
    <div class="header__fixed ">
      <div class="header-menu-wrap header-menu-wrap">
        <a class="header-logo" title="Режано"
           {% if app.request.get('_route') != 'homepage' %}href="{{ path('homepage') }}"{% endif %}></a>
        {% block headerMenu %}
          {{ render(controller('StoreBundle:Menu/MenuItem:headerMenu')) }}
        {% endblock %}

        <div class="header-controls">
          <a href="" class="header-controls__item header-controls__cabinet">
        <span class="header-controls__notice">
          <span class="notice-count">1</span>
        </span>
          </a>
          <a href="{{ url('cart_index') }}" class="header-controls__item header-controls__cart">
            {% if cart.orderItems|length %}
              <span class="header-controls__notice">
                <span class="notice-count">{{ cart.orderItems|length }}</span>
              </span>
            {% endif %}
          </a>

          <button class="cmn-toggle-switch cmn-toggle-switch__htx">
            <span></span>
          </button>
          <div class="header-mobile">
            <div class="header-mobile__wrap-item">
              {% block headerMobileMenu %}
                {{ render(controller('StoreBundle:Menu/MenuItem:mobileHeaderMenu',
                {
                  '_route': app.request.get('_route'),
                  '_route_params': app.request.get('_route_params'),
                  'uri': app.request.requestUri
                })) }}
              {% endblock %}
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="header-image-wrap">
      <div class="header-catalog__wrap"></div>
    </div>
  </header>
{% endblock header %}


{% block main %}
  <section class="catalog-section">
    <div class="container container_no-padding">
      {#<div class="section-title">#}
      {#<div class="breadcrumbs">#}
      {#<a href="{{ path('homepage') }}" class="breadcrumbs__item">Главная страница</a>#}
      {#<span class="breadcrumbs__divide"></span>#}
      {#{% if taxon.taxonEntity and not taxon.taxonEntity.isRoot %}#}
      {#<a href="{{ path('catalog_index') }}" class="breadcrumbs__item">Каталог</a>#}
      {#<span class="breadcrumbs__divide"></span>#}
      {#{% endif %}#}
      {#<a class="breadcrumbs__item breadcrumbs__item_active">{{ taxon.name }}</a>#}
      {#</div>#}
      {#<span class="section-title__text">{{ taxon.name }}</span>#}
      {#</div>#}
      {#<h1>{{ taxon.name }}</h1>#}

      {{ renderTaxonPresentation(presentation, {'filterForm': filterForm}) }}
    </div>
  </section>
{% endblock %}