{% extends "::base.html.twig" %}

{% block header %}
  <header class="header-about">
    <div class="header__fixed ">
      <div class="header-menu-wrap header-menu-wrap">
        <a class="header-logo" title="Режано"
           {% if app.request.get('_route') != 'homepage' %}href="{{ path('homepage') }}"{% endif %}></a>
        {% block headerMenu %}
          {{ render(controller('StoreBundle:Menu/MenuItem:headerMenu')) }}
        {% endblock %}

        <div class="header-controls">
          <a href="" class="header-controls__item header-controls__cabinet">
        <span class="header-controls__notice">
          <span class="notice-count">1</span>
        </span>
          </a>
          <a href="{{ url('cart_index') }}" class="header-controls__item header-controls__cart">
            {% if cart.orderItems|length %}
              <span class="header-controls__notice">
            <span class="notice-count">{{ cart.orderItems|length }}</span>
          </span>
            {% endif %}
          </a>
        </div>
      </div>
    </div>

    <div class="header-catalog__wrap"></div>
  </header>
{% endblock header %}

{% block main %}
  <section class="section-about-history">
    <div class="container container_no-padding">

      <h1 class="section-about-history__title">{{ hotspot_inline('o_nas_h1', 'История одной сыроварни') }}</h1>

      <div class="section-about-history__photo">
        <div class="section-about-history__photo-image">

        </div>
        <span class="section-about-history__name-hostess">
          {{ hotspot_inline('o_nas_1_title', "Анна —хозяйка сыроварни")}}
        </span>
      </div>

      <div class="section-about-history__text">
        {{ hotspot_inline('o_nas_1', "Любовь Анны к сыру началась в горах, пока она каталась на лыжах в Мерибеле. <br>
        Она вернулась в Екатеринбург с колесом сыра Beaufort Chalet d'Alpage,<br>
        после которого жизнь уже не была прежней.")}}
      </div>

      <div class="about-stage__title">{{ hotspot_inline('o_nas_2_title', "Открытие")}}</div>
      <div class="about-stage__text">
          {{ hotspot('o_nas_2', "<p>Спустя два года после этого она решила рискнуть и «сделать что-нибудь с сыром», не обращая внимания на все признаки упадка экономики, появилась заинтересованная команда и проект «Режано».</p><p>15 ноября 2015 года мы открыли входную дверь в нашу собственную сыроварню. </p>")}}
      </div>

    </div>
  </section>

  <section class="section-wt-chesee">
    <div class="section-wt-chesee__image section-wt-chesee__image_right"></div>
    <div class="container container_no-padding">
      <div class="about-stage__title">{{ hotspot_inline('o_nas_3_title', "С тех пор много раз спрашивали:<br>«Почему сыр?» и ответ прост")}}</div>
      <div class="about-stage__text">
        {{ hotspot('o_nas_3', "<p>После множества бутербродов с сыром, после почти что сырного клуба у себя дома, сырных конференции, стажировок у французского аффинера Александра Пелесcье, путешествий по Европе и тысячи вкусных кусочков сыра, оттачивались  истинные увлечения. </p><p>Затем, однажды вечером за бутылкой вина, стало понятно, что работа сыроваром сделает жизнь счастливее: можно есть отличный сыр, общаться с довольными клиентами,  путешествовать по миру, продвигать сырную культуру.</p>") }}
      </div>
    </div>
  </section>

  <section class="section-customer-happiness">

    <div class="section-customer-happiness__image section-customer-happiness__image_left">
      <img src="{{ asset('/images/wtf-fir-chesee.png') }}" alt="">
      <div class="image-name">
        <span class="image-name__arrow"></span>
        <span class="image-name__text">Сыр «Режано»</span>
      </div>
    </div>
    <div class="section-customer-happiness__image section-customer-happiness__image_right">
      <img src="{{ asset('/images/wtf-ricotta-chesee.png') }}" alt="">
      <div class="image-name">
        <span class="image-name__arrow"></span>
        <span class="image-name__text">Сыр «Рикотта»</span>
      </div>
    </div>

    <div class="container container_no-padding">
      <div class="about-stage__sub-text">
        {{ hotspot_inline('o_nas_4', "Сыроварня в прямом смысле «прозрачна» и открыта для посетителей, любой может приехать и посмотреть через стеклянную стену на работу сыроделов. Группы детей и взрослых съезжаются со всего региона, чтобы познакомиться поближе с культурой сыра и сделать его своими руками. А сам сыр, наоборот, путешествует по всей России, наземным и воздушным видом транспорта.")}}
      </div>
      <div class="about-stage__title">{{ hotspot_inline('o_nas_5_title', "Мы сосредоточились в первую очередь<br>на «счастье» наших клиентов")}}</div>
      <div class="about-stage__text">
        {{ hotspot('o_nas_5', "<p>Заходя на сайт, вы найдете много фотографий предлагаемых нами продуктов. </p><p>К сожалению, вы не можете попробовать их через экран. Так что приезжайте в гости и позвольте нашей страстной команде сыроделов делать то, что они делают лучше всего: поделиться историями о своих любимых продуктах и предложить вкусные сочетания, чтобы заставить вас улыбнуться.</p><p>Надеемся вскоре вас увидеть.</p>") }}
      </div>
    </div>
  </section>

  <section class="section-good-food">

    <div class="container container_no-padding">
      <div class="about-stage__title">{{ hotspot_inline('o_nas_6_title', "Хорошая еда и Слоуфуд")}}</div>
      <div class="about-stage__text">
        {{ hotspot('o_nas_6', "<p>Мы работаем над тем, чтобы следовать принципам движения «Слоуфуд» в создании «хороших, чистых и справедливых» товаров, а также движению «Хорошая еда» в производстве продуктов «вкусных, аутентичных из ответственных источников»</p><p>Мы сотрудничаем с хозяйствами, которые управляют своими землями  регенеративно, заботятся о своих стадах гуманно, добывают сырье с этической точки зрения и ведут свой бизнес честно.</p><p>Поддерживая нас, вы поддерживаете и фермеров. Это позитивный круг поддержки и любви.</p>") }}
      </div>
    </div>

    <div class="section-good-food__bg">
      <img src="{{ asset('/images/about-good-food.png') }}" alt="">
    </div>
  </section>

  <section class="section-do-good">
    <div class="container container_no-padding">

      {{ hotspot("o_nas_7", '<div class="about-stage__text">Наша миссия:</div><div class="about-stage__title">Делай добро. Ешь хорошо.</div><div class="about-stage__text">Наши основные принципы:</div><div class="about-stage__title">Быть правдой. Для себя. Других.<br>Улучшения каждый день.</div>') }}

      {#<div class="about-stage__text">Наша миссия:</div>
      <div class="about-stage__title">Делай добро. Ешь хорошо.</div>

      <div class="about-stage__text">Наши основные принципы:</div>
      <div class="about-stage__title">Быть правдой. Для себя. Других.<br>Улучшения каждый день.</div>#}

    </div>
  </section>

  <section class="section-how-cook">
    <div class="container container_no-padding">
      <div class="about-stage__title">Как мы варим сыр</div>

      <img class="section-how-cook__image" src="{{ asset('/images/how-cook.png') }}"/>

    </div>
  </section>
  {% if  setting('about_us_video_cover') %}
    <section class="section-see-works">
      <div class="section-see-works__shadow-box">
        <div class="about-stage__title">{{ hotspot_inline('o_nas_8', 'Взгляни, как у нас всё устроено') }}</div>
      </div>
          <div class="section-see-works__video">
            <div class="section-see-works__video-play-overlay">
              <span class="section-see-works__video-play"></span>
            </div>
            <video width="100%"  poster="{{ '/uploads/videos/cover/' ~ setting('about_us_video_cover') }}">
              <source src="{{ '/uploads/videos/' ~ setting('about_us_video') }}" type="video/mp4">
            </video>
      </div>
    </section>
  {% endif %}

  {% if gallery %}
    {% if gallery.images.count != 0 %}
      <section class="section-photo-production">
        <div class="container container_no-padding">
          <h2 class="section-one-eye__title">{{ gallery.title }}</h2>

              <div class="section-production-slider" id="productionSlider">
                {% for image in gallery.images %}
                <div class="section-production-slider__item">
                  <div class="section-production-slider__item-image">
                      <img src="{{ image_url(image) }}" alt="">
                  </div>
                </div>
                {% endfor %}
              </div>

        </div>
      </section>
    {% endif %}
  {% endif %}
  <section class="section-choose">
    <div class="container container_no-padding container_narrow">
      <div class="section-choose__title">
        <span class="section-choose__title-title">У нас всегда можно <a href="{{ path('catalog_index') }}">выбрать</a><br> подходящий сыр</span>
      </div>
      <div class="section-choose__image">
        <img src="{{ asset('/images/about-chose-more.png') }}">
      </div>
    </div>
  </section>
{% endblock %}