{% extends "@Store/Checkout/step.html.twig" %}

{#{% block breadcrumbs %}#}
    {#<div class="section-title">#}
        {#<div class="breadcrumbs">#}
            {#<a href="{{ url('homepage') }}" class="breadcrumbs__item">Главная страница</a>#}
            {#<span class="breadcrumbs__divide"></span>#}
            {#<a class="breadcrumbs__item breadcrumbs__item_active">Корзина</a>#}
        {#</div>#}
        {#<span class="section-title__text section-title__text_in-product">Корзина</span>#}
    {#</div>#}
{#{% endblock %}#}



{% block form %}

    {% if items is not empty %}

    <div class="cards-container">
        <div class="cards-container__header">
            <div class="cards-container__item cards-container__item_header">Описание</div>
            <div class="cards-container__price cards-container__price_header"><span>Цена</span></div>
            <div class="cards-container__quantity cards-container__quantity_header"><span>Количество</span></div>
            <div class="cards-container__cost cards-container__cost_header"><span>Сумма</span></div>
            <div class="cards-container__remove cards-container__remove_header"><span>Удалить</span></div>
        </div>

        {% for item in items %}
            <div class="cards-container__wrap">

                <div class="cards-container__item">
                    {# <a href="{{ path('product', { slug: item.product.slug }) }}" class="cards-container__item-image yellow"> #}
                    <a href="{{ path('product', { slug: item.product.slug }) }}" class="cards-container__item-image">
                        <img src="{{ asset('/images/TEST_DELETE.png') }}" alt="">
                    </a>
                    <div class="cards-container__item-info">
                        <a href="{{ path('product', { slug: item.product.slug }) }}" class="item-info__title">{{ item.product.name }}</a>
                        <span class="item-info__quantity">320 г</span>
                        {#<span class="item-info__title-aside">Артикул – {{ item.product.sku }}</span>#}
                    </div>
                </div>

                <div class="cards-container__price">{{ item.price|price }}</div>

                <div class="quantity-widget quantity-wrap product-item__controls cards-container__quantity">
                    <a class="controls-item controls-item__increase quantity-control quantity-control__down"></a>
                    <input class="custom-input quantity-control__input" value="{{ item.quantity }}" type="text">
                    <a class="controls-item controls-item__reduce quantity-control quantity-control__up"></a>
                    {#<span class="quantity-balance">всего {{ item.product.availableStock }} шт.</span>#}
                </div>

                <div class="cards-container__cost">
                    <div class="total-value">
                        <span class="total-value__payment">{{ item.cost|price }}</span>
                    </div>
                </div>


                <div class="cards-container__controls">
                    <a href="{{ path('cart_remove', { id: item.id }) }}" class="button-remove-from-favorites"></a>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="cards-container__step cards-container__order">
        <div class="cards-container__step-title">
            <span class="step-title__number">1</span>
            ваш заказ
        </div>
    </div>

    <button class="white">
        <a href="{{ path('cart_reset') }}"><span>Очистить корзину</span></a>
    </button>

    {% else %}
       <div class="cart-empty">
            <div class="cart-empty__wrap">
                <div class="cart-empty__image"></div>
                <div class="cart-empty__title">Корзина пуста</div>
                <a href="{{ url('catalog_index') }}" class="button">В каталог товаров</a>
            </div>
       </div>
    {% endif %}


{% endblock %}