<div class="footer-maps">
    {% for store in stores %}
    {#<div class="footer-maps__item">#}
        {#{{ hotspot_inline('address_header_1', 'Сырная лавка в Екатеринбурге') }}#}
        {#<span class="footer-maps__link" data-point="0">{{ hotspot_inline('address_1', 'ул. Красноармейская, 68 (с 10:00 до 21:00)') }}</span>#}
    {#</div>#}

    {#<div class="footer-maps__item">#}
        {#{{ hotspot_inline('address_header_2', 'Экскурсии и продажа сыра в городе Реж') }}#}
        {#<span class="footer-maps__link" data-point="1">{{ hotspot_inline('address_2', 'ул. Олега Кошевого, 16') }}</span>#}
    {#</div>#}

        <div class="footer-maps__item">
        {{ store.name }}
        <span class="footer-maps__link" data-point="1">{{ store.address }}</span>
        </div>
    {% endfor %}

    <a href="{{ path('question') }}" class="button
                    button-question
                    ">
        <span>задать вопрос</span>
    </a>
</div>

{{ stores|client_model_collection('store', 'Stores') }}