<div class="footer-maps">
    {% for store in stores %}
    {#<div class="footer-maps__item">#}
        {#{{ hotspot_inline('address_header_1', 'Сырная лавка в Екатеринбурге') }}#}
        {#<span class="footer-maps__link" data-point="0">{{ hotspot_inline('address_1', 'ул. Красноармейская, 68 (с 10:00 до 21:00)') }}</span>#}
    {#</div>#}

    {#<div class="footer-maps__item">#}
        {#{{ hotspot_inline('address_header_2', 'Экскурсии и продажа сыра в городе Реж') }}#}
        {#<span class="footer-maps__link" data-point="1">{{ hotspot_inline('address_2', 'ул. Олега Кошевого, 16') }}</span>#}
    {#</div>#}

        <div class="footer-maps__item">
        {{ store.name }}
          <span class="footer-maps__link" data-address="{{ store.fullAddress}}">{{ store.address }}</span>
        </div>
    {% endfor %}

  <div class="button-question-wrap button-question-wrap_desktop">
    <a href="{{ path('question') }}" class="button button-question">
      <span>задать вопрос</span>
    </a>
  </div>

    <div class="footer-contacts_mobile">
      <div class="footer-contacts" style="display: inline-block;">

        {{ render(controller('StoreBundle:Common:_footerContacts')) }}

        {% if setting('contact_email')  %}
          <div class="contact-item">
            <a class="contact-item" href="mailto:{{ setting('contact_email') }}?subject=Письмо с сайта rezhano.ru">{{ setting('contact_email') }}</a>
          </div>
        {% endif %}

        <div class="footer-social">
          {% if setting('facebook_link')  %}
            <a href="{{ setting('facebook_link') }}" target="_blank" class="footer-social__item footer-social__facebook">
              <img src="{{ asset('images/svg/social-03.svg') }}" alt="">
              <img class="hover-social" src="{{ asset('images/svg/social-06.svg') }}" alt="" style="opacity: 0;">
            </a>
          {% endif %}
          {% if setting('vk_link')  %}
            <a href="{{ setting('vk_link') }}" target="_blank" class="footer-social__item footer-social__vkontakte">
              <img src="{{ asset('images/svg/social-02.svg') }}" alt="">
              <img class="hover-social" src="{{ asset('images/svg/social-05.svg') }}" alt="" style="opacity: 0;">
            </a>
          {% endif %}
          {% if setting('instagram_link')  %}
            <a href="{{ setting('instagram_link') }}" target="_blank" class="footer-social__item footer-social__instagram">
              <img src="{{ asset('images/svg/social-01.svg') }}" alt="">
              <img class="hover-social" src="{{ asset('images/svg/social-04.svg') }}" alt="" style="opacity: 0;">
            </a>
          {% endif %}
        </div>
      </div>

      <div class="button-question-wrap button-question-wrap_mobile">
        <a href="{{ path('question') }}" class="button button-question">
          <span>задать вопрос</span>
        </a>
      </div>

    </div>


</div>

{{ stores|client_model_collection('store', 'Stores') }}