<div class="footer-maps">
    {% for store in stores %}
    {#<div class="footer-maps__item">#}
        {#{{ hotspot_inline('address_header_1', 'Сырная лавка в Екатеринбурге') }}#}
        {#<span class="footer-maps__link" data-point="0">{{ hotspot_inline('address_1', 'ул. Красноармейская, 68 (с 10:00 до 21:00)') }}</span>#}
    {#</div>#}

    {#<div class="footer-maps__item">#}
        {#{{ hotspot_inline('address_header_2', 'Экскурсии и продажа сыра в городе Реж') }}#}
        {#<span class="footer-maps__link" data-point="1">{{ hotspot_inline('address_2', 'ул. Олега Кошевого, 16') }}</span>#}
    {#</div>#}

        <div class="footer-maps__item">
        {{ store.name }}
        <span class="footer-maps__link" data-address="{{ store.fullAddress}}">{{ store.address }}</span>
        </div>
    {% endfor %}

    <div class="footer-contacts_mobile">
      <div class="footer-contacts">

        {{ render(controller('StoreBundle:Common:_footerContacts')) }}

        {% if setting('contact_email')  %}
          <div class="contact-item">
            <a class="contact-item" href="mailto:{{ setting('contact_email') }}?subject=Письмо с сайта rezhano.ru">{{ setting('contact_email') }}</a>
          </div>
        {% endif %}

        <div class="footer-social">
          {% if setting('facebook_link')  %}
            <a href="{{ setting('facebook_link') }}" target="_blank" class="footer-social__item footer-social__facebook"></a>
          {% endif %}
          {% if setting('vk_link')  %}
            <a href="{{ setting('vk_link') }}" target="_blank" class="footer-social__item footer-social__vkontakte"></a>
          {% endif %}
          {% if setting('instagram_link')  %}
            <a href="{{ setting('instagram_link') }}" target="_blank" class="footer-social__item footer-social__instagram"></a>
          {% endif %}
        </div>
      </div>
    </div>

    <a href="{{ path('question') }}" class="button
                    button-question
                    ">
        <span>задать вопрос</span>
    </a>
</div>

{{ stores|client_model_collection('store', 'Stores') }}