<div class="product-item">
    <a href="{{ path('product', {'slug': product.slug } ) }}" class="product-item__image" style="background: url({{ image_url(product.mainImage) }}) center no-repeat; background-size: cover"></a>
    <div class="product-item__info">
        <a href="{{ path('product', {'slug': product.slug } ) }}" class="product-item__title">{{ product.name }}</a>
        <button class="button button_add-to-cart"><span>{{ product.price|price }}</span></button>
    </div>
</div>